body {
    background-color: #333;    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.card {
    margin-bottom: 20px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.btn-live {
    background-color: #ff0000;
    color: white;
    margin-top: 10px;
}

.btn-live:hover {
    background-color: #d60000;
}

h1 {
    color: #333;
    font-size: 2.5rem;
    font-weight: bold;
}

h3 {
    font-size: 1.25rem;
    margin-top: 20px;
}

p {
    font-size: 1rem;
    line-height: 1.6;
}
